@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
     
     
     .Logo {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;
      letter-spacing: -1.5px;
      font-size: 30px;
      font-weight: bold;
    }
    #Logo_color{
      color: #3C9379;
    }
    
    body {
      background-color: #f8f9fa;
    }
    .navbar-brand {
      font-weight: bold;
    }
    .goback{
        font-size: 20px;
        color: #3c9379;
        margin-left: 20px;
        font-weight: 700;
    }
    .Logo{
          font-family: "Manrope";
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 36px;
          letter-spacing: -1.5px;
          font-size: 30px;
          font-weight: bold;
      }
      .Logo-color{
          color: #3c9379;
      }
    header {
      text-align: center;
      margin-bottom: 20px;
    }

    .card {
      margin-bottom: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s;
    }

    .card:hover {
      transform: scale(0.95);
    }

    .card-img-top {
      height: 200px;
      object-fit: cover;
    }

    .card-title {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 0;
    }